.menu {
  padding: 100px 0 100px;
}

.menu__title {
  margin: 0 auto 24px;
  max-width: 780px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.menu__subtitle {
  margin: 0 auto 100px;
  max-width: 780px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  list-style-type: none;
}

.card {
  width: 540px;
}

.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  display: flex;
  font-family: "Noto Serif";
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}
